table{
/*	usamos el width para que ocupe todo el ancho de la tabla*/
	width: 100%;
}

table,th,td{
	 border: 1px solid black;
	 border-collapse: collapse;
	/*border-spacing: 5px;*/
	 padding: 5px;
}
caption{
	color: #e63946;
	font-family: 'Trocchi', serif;
	/*font-size :tamaño de fuente*/
	font-size:45px ;
	line-height: 70px;
}


th{
	color: #f1faee;
	background-color: #1d3557;
	th: nth-child(even);
}
/*td{
	text-align: center;
}*/
/*renglones pares*/
tr:nth-child(even){
	background-color: #DCCA14;

}
/*renglones impares*/
tr:nth-child(odd){
	background-color: #a8dadc;
}